/* Estilos de estructura de la página */
html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    background: #d2d8e1;
    color: #080808;
    padding: 15px;
    text-align: center;

}

/* Estilo para el logo en el header */
#headerLogo {
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción */
    margin-right: 15px; /* Espacio entre el logo y el título */
}

/* Estilo para el contenido del header */
.header-content {
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
    text-align: center;
}
header h1 {
    font-size: 24px;
    margin: 0;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    #headerLogo {
        width: 60px; /* Reduce el tamaño del logo en móviles */
        margin-right: 10px; /* Ajusta el margen en móviles */
    }

    header h1 {
        font-size: 20px; /* Reduce el tamaño de la fuente del título en móviles */
    }

    /* Opcional: Cambiar la alineación del header en móviles */
    header {
        flex-direction: column; /* Cambia a columna para apilar logo y título */
        align-items: center; /* Centra todos los elementos */
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    #headerLogo {
        width: 50px; /* Reduce aún más el tamaño del logo en pantallas muy pequeñas */
    }

    header h1 {
        font-size: 18px; /* Reduce el tamaño de la fuente aún más */
    }
}


/* Asegura que el main ocupe el espacio disponible entre el header y el footer */
main {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo para el área principal */
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 14px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    nav ul li {
        margin: 5px;
    }
    main {
        padding: 15px;
    }
    footer {
        padding: 10px 0;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 5px 0;
    }
    main {
        padding: 10px;
    }
    footer {
        font-size: 12px;
    }
}

#content-wrap {
    padding-bottom: 2.5rem;    /* altura de pie de página */
  }

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-top: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    background-color: #04245c;
    color: rgb(242, 242, 242);
    border: none;
    padding: 3px 8px;
    line-height: 38px;
    border-radius: 10px;
    -webkit-box-shadow: -2px 3px 0px #d4d4d4;
    box-shadow: -2px 3px 0px #d4d4d4;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition-property: line-height;
    -o-transition-property: line-height;
    transition-property: line-height;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
  }

/* inicio */

button:hover {
    background-color: #0b0f2a;
}

.button-view {
    background-color: #37873a; 
}

.button-maintenance {
    background-color: #223db3; 


}

.button-delete {
    background-color: #b13229;
 
}

.button-delete-options {
    background-color: #b13229; 
    float: right; /* Alinear a la derecha */

}

.button-delete {
    background-color: #b13229; 

}


.button-delete-part{
    background-color: #b13229; 
    
    
}


.button-container {
    display: flex; /* Habilita el flexbox */
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
}

.button-delete-options,
.button-view,
.button-maintenance,
.button-delete {
    /* Otros estilos de botones aquí */
    position: relative; /* Opcional, dependiendo de tus estilos */
    padding: 0 4px;
}

@media (max-width: 768px) {
    .button-view,
    .button-maintenance,
    .button-delete {
        display: flex; /* Usar flexbox para una mejor alineación */
        font-size: 15px;
        
}
}


/*Inventaio telefono */

.btn {
    background-color: #4CAF50; /* Color de fondo verde */
    border: none; /* Sin borde */
    color: white; /* Color del texto blanco */
    padding: 1px 15px; /* Relleno del botón */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor de los botones */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
   
}

.increment-btn {
    background-color: #28a745; /* Verde más oscuro para incrementar */
}

.decrement-btn {
    background-color: #dcc035; /* Rojo para decrementar */
}

.delete-btn {
    background-color: #dc3545; /* Rojo para eliminar */
}

.btn:hover {
    background-color: #45a049; /* Color más oscuro al pasar el ratón */
}

.increment-btn:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

.decrement-btn:hover {
    background-color: #c8aa23; /* Rojo más oscuro al pasar el ratón */
}

.delete-btn:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el ratón */
}

.btn:active {
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
}

@media (max-width: 768px) {
    .btn {
    display: flex; /* Usar flexbox para una mejor alineación */
    }
}















/* Estilos adicionales para modales */
.modal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed;
    z-index: 1; /* Se asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo para el contenedor de navegación */
nav {
    /*background-color: #2c3e50; */
    padding: 15px 0;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos para la lista de navegación */
nav ul {
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0px; /* Espacio entre cada enlace */
}

/* Estilos para cada enlace de navegación */
nav ul li a {
    color: #000000; /* Color del texto */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ffffff; /* Color de fondo del botón */
    transition: all 0.5s ease; /* Transición para cambios suaves */
    position: relative;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambia la dirección de los botones a columna */
        align-items: center; /* Centra los botones */
        gap: 15px; /* Aumenta el espacio entre botones cuando están apilados */
    }

    nav ul li a {
        font-size: 14px; /* Ajusta el tamaño del texto */
        padding: 8px 12px; /* Reduce el padding para que se vea más compacto */
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    header {
        padding: 5px 0; /* Reduce el padding en móviles */
    }

    nav ul li a {
        padding: 6px 10px; /* Reduce aún más el padding */
        font-size: 12px; /* Ajusta el tamaño del texto para móviles */
    }
}

/* Efecto de hover */
nav ul li a:hover {
    background-color: #29b948; /* Color de fondo al pasar el ratón */
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
    transition: background-color 0.1s ease, transform 1s ease; /* Cambia la duración a 0.1s */
    transform: translateY(-2px); /* Levanta ligeramente el enlace */
}

/* Efecto de fondo en cada enlace al hacer clic */
nav ul li a.active {
    background-color: #1c2b53; /* Color de fondo cuando está activo */
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}
/* Estilo para el Panel de Control */
#panelControl {
    margin-top: 30px; /* Espacio superior para separar de secciones anteriores */
    padding: 15px;
    background-color: #e9ecef; /* Color de fondo claro para el panel */
    border-radius: 8px; /* Bordes redondeados para un mejor aspecto */
}

#maintenanceStats {
    margin-bottom: 20px; /* Espacio inferior para separar del botón */
}

#maintenanceStats h3 {
    margin: 0 0 10px; /* Margen inferior para separar del contenido */
}

#maintenanceStats p {
    font-size: 1.1em; /* Aumentar el tamaño de la fuente para destacar */
}

#viewHistoryBtn {
    background-color: #007bff; /* Color azul para el botón de historial */
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

#viewHistoryBtn:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

/* Responsividad */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em; /* Tamaño de fuente más pequeño para móviles */
    }

    nav ul {
        flex-direction: column; /* Navegación vertical en dispositivos móviles */
        align-items: center; /* Centrando los elementos */
    }

    nav ul li {
        margin: 5px 0; /* Espacio entre los elementos de la navegación */
    }

    table {
        font-size: 0.9em; /* Tamaño de fuente más pequeño en móviles */
    }

    button {
        width: 100%; /* Botones ocupan el ancho completo en móviles */
    }
}


/* Estilo específico para el modal de agregar equipo */
#addEquipmentModal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed;
    z-index: 1; /* Se asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
}

/* Contenido del modal de agregar equipo */
#addEquipmentModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 10% auto; /* Margen superior y centrado */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilos para los títulos dentro del modal */
#addEquipmentModal h2 {
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para las etiquetas de entrada */
#addEquipmentModal label {
    display: block; /* Mostrar cada etiqueta en una nueva línea */
    margin-bottom: 5px; /* Espacio inferior */
    font-weight: bold; /* Negrita */
}

/* Estilos para los campos de entrada */
#addEquipmentModal input[type="text"],
#addEquipmentModal input[type="number"],
#addEquipmentModal select {
    width: calc(100% - 20px); /* Ancho completo menos el padding */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Bordes suaves */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio inferior */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Estilos para el botón de agregar */
#addEquipmentModal .btn-add {
    background-color: #1f3db4; /* Color del botón */
    color: white; /* Texto en blanco */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
}

#addEquipmentModal .btn-add:hover {
    background-color: #131a45; /* Color al pasar el ratón */
}

/* Estilo para el botón de cerrar */
#addEquipmentModal .close {
    color: #aaa; /* Color del botón de cerrar */
    float: right; /* Alinear a la derecha */
    font-size: 28px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

#addEquipmentModal .close:hover,
#addEquipmentModal .close:focus {
    color: black; /* Color al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
}


/* Estilo para el modal de detalles del equipo */
#equipmentDetailsModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 10% auto; /* Margen superior y centrado */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilo para la imagen en el modal de detalles */
#equipmentDetailsModal img {
    max-width: 400%; /* Ancho máximo 100% para que no exceda el contenedor */
    height: auto; /* Mantiene la altura automática para respetar la proporción */
    border-radius: 4px; /* Bordes redondeados en la imagen */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 20px;

}

.modal-content img {
    max-width: 100%; /* Ajusta según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}


#addEquipmentModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 5% auto; /* Margen superior reducido */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilo para el login*/



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }


    

/* Modal para la imagen ampliada */
#imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    padding-top: 50px;
}

/* Imagen ampliada centrada y sin bordes */
#expandedImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    border: none;
    margin: auto; /* Centra la imagen vertical y horizontalmente */
   
}


.no-scroll {
    overflow: hidden;
}




/* Estilos para los botones de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: -3px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambiar color de fondo al pasar el cursor */
.pagination button:hover {
    background-color: #0056b3;
}

/* Estilo para botones deshabilitados */
.pagination button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

/* Estilo para el número de página actual */
.pagination .active {
    background-color: #ff5252; /* Color diferente para la página actual */
    color: white; /* Asegúrate de que el texto sea legible */
    font-weight: bold; /* Resaltar el texto */
    border-radius: 5px; /* Bordes redondeados para el número */
   /* padding: 10px 15px;  Igualar tamaño con los botones */
}



/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .pagination {
        display: flex; /* Usar flexbox para una mejor alineación */
        justify-content: center; /* Centrar los elementos en el contenedor */
        align-items: center; /* Centrar verticalmente los botones */
        margin: 10px 0; /* Espaciado superior e inferior */
    }

    .pagination button {
        padding: 2px 8px; /* Espaciado interno adecuado para botones */
        margin: 4px 2px; /* Sin margen adicional entre botones */
        font-size: 14px; /* Tamaño de fuente adecuado para móviles */
        flex: 0 0 auto; /* Tamaño ajustado al contenido del botón */
        border-radius: 5px; /* Bordes redondeados para un estilo moderno */
        background-color: #007bff; /* Color de fondo por defecto */
        color: white; /* Color de texto */
        border: none; /* Sin borde para un diseño más limpio */
        cursor: pointer; /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
        font-weight: bold; /* Texto en negrita para mejor legibilidad */
        width: 30%; /* Ajustar el ancho según el diseño deseado */
    }

    /* Cambiar color de fondo al pasar el cursor */
    .pagination button:hover {
        background-color: #0056b3; /* Color más oscuro al pasar el ratón */
        transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el ratón */
    }

    /* Estilo para botones deshabilitados */
    .pagination button:disabled {
        background-color: #c0c0c0; /* Color para botones deshabilitados */
        cursor: not-allowed; /* Cambiar cursor al pasar por encima */
        opacity: 0.6; /* Reducir opacidad para indicar que está deshabilitado */
    }

    /* Estilo para el número de página actual */
    .pagination .active {
        background-color: #ff5252; /* Color diferente para la página actual */
        color: white; /* Asegúrate de que el texto sea legible */
        font-weight: bold; /* Resaltar el texto */
        border-radius: 5px; /* Bordes redondeados */
        padding: 8px 10px; /* Igualar tamaño con los botones de paginación */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para un efecto de profundidad */
    }

    /* Estilos para los números de página */
    .pagination .page-number {
        margin: 0 5px; /* Espaciado horizontal entre los números */
        padding: 8px 10px; /* Espaciado interno para los números */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #f0f0f0; /* Color de fondo para los números */
        color: #333; /* Color de texto */
        cursor: pointer; /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

    .pagination .page-number:hover {
        background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
    }
}




/* Estilos para la barra de búsqueda  */
#searchInput {
    width: 80%;
    max-width: 450px;
    padding: 20px 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #f0f0f5;
    color: #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding-left: 40px; /* Espacio para el ícono */
    position: relative;
}

/* Estilo para el icono dentro del campo de búsqueda */
#searchInput::placeholder {
    color: #999;
    font-style: italic;
}

/* Icono de búsqueda */
.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 450px;
}

.search-container::before {
    content: "\1F50D"; /* Unicode para el icono de lupa */
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

#searchInput:focus {
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(12, 119, 233, 0.3);
    outline: none;
}


/* Estilo para las celdas del encabezado del creador de opciones */
thead {
    background-color: #d2d8e1; /* Color de fondo del encabezado */
    color: #022759; /* Color del texto del encabezado */
}


/* Estilo para la etiqueta del selector */
label {
    display: block; /* Hace que la etiqueta ocupe todo el ancho */
    margin-bottom: 8px; /* Espaciado inferior entre la etiqueta y el selector */
    font-weight: bold; /* Negrita */
    font-size: 16px; /* Tamaño de fuente */
}

#optionType {
    width: 20%; /* Ancho predeterminado */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-bottom: 20px; /* Espacio entre elementos */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 600px) {
    #optionType,
    #optionValue,  /* Campo de texto */
    #addOptionBtn  /* Botón de agregar opción */
    {
        width: 100%; /* Ocupar el ancho completo */
        font-size: 16px; /* Tamaño de fuente ajustado */
        padding: 10px; /* Espaciado interno adecuado */
        margin-top: 12px; /* Espacio entre elementos */
    }
}
/* Efecto al hacer foco en el selector */
#optionType:focus {
    border-color: #4CAF50; /* Color del borde al hacer foco */
    outline: none; /* Eliminar el contorno predeterminado */
}

/* Estilo para las opciones del selector */
#optionType option {
    padding: 10px; /* Espaciado interno en opciones */
}

/* Estilo para el botón de agregar opción */
#addOptionBtn {
    margin-top: 20px; /* Margen superior para separar del selector */
    margin-bottom: 10px; /* Margen inferior opcional para separar del contenido siguiente */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
    display: block; /* Asegura que el botón ocupe toda la línea */
    width: 20%; /* Asegura que el botón ocupe todo el ancho disponible (opcional) */
}


@media (max-width: 768px) {
    #addOptionBtn {
        width: 170px; /* Reduce el tamaño del logo en móviles */
        margin-right: 10px; /* Ajusta el margen en móviles */

}
}

/* Efecto al pasar el mouse sobre el botón */
#addOptionBtn:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

/* Estilo para la etiqueta del campo de texto */
label[for="optionValue"] {
    display: block; /* Cambia a block para que ocupe toda la línea y esté justo encima del input */
    margin-bottom: 2px; /* Espacio muy pequeño entre la etiqueta y el campo de texto */
    font-weight: bold; /* Negrita */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para el campo de texto de Nombre de Opción */
#optionValue {
    margin-top: 5px; /* Espacio entre elementos */
    width: 10%; /* Asegúrate de que el input ocupe todo el ancho disponible */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    font-size: 16px; /* Tamaño de fuente */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}
@media (max-width: 768px) {
    #optionValue  {
        width: 170px; /* Reduce el tamaño del logo en móviles */
        margin-right: 10px; /* Ajusta el margen en móviles */
    }
}

/* Efecto al hacer foco en el campo de texto */
#optionValue:focus {
    border-color: #4CAF50; /* Color del borde al hacer foco */
    outline: none; /* Eliminar el contorno predeterminado */
}

/* Estilo para el mensaje de error (opcional) */
#errorOptionValue {
    color: red; /* Color rojo para mensajes de error */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    margin-top: 5px; /* Espaciado superior */
    display: none; /* Ocultar por defecto */
}




/* CSS para la tabla */ 
table {
    width: 100%; /* Asegura que la tabla ocupe el ancho completo */
 
}
/* Fija la tabla para que el contenido no se ajuste a la altura */
table {
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

td {
    overflow: hidden; /* Oculta el contenido que desborda la celda */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Ancho específico para cada columna */
td.tipo {
    width: 1px; /* Cambia esto al ancho que prefieras */
}

td.nombre {
    width: 1px; /* Cambia esto al ancho que prefieras */
}

td.acciones {
    width: 1px; /* Cambia esto al ancho que prefieras */
}

/* Estilo adicional para las celdas */
td, th {
    padding: 5px; /* Espaciado interno para celdas */
    border: 3px solid #cfcfcf; /* Bordes de las celdas */
}

/* Estilos para las celdas */
th, td {
    padding: 8px; /* Espaciado interno para celdas */
    border: 1px solid #ddd; /* Bordes de las celdas */
    overflow: hidden; /* Oculta el contenido que desborda la celda */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Ancho específico para la columna Nombre */
th:nth-child(2), td:nth-child(2) {
    width: 250px; /* Cambia esto al ancho que prefieras */
    max-width: 700px; /* Establece un ancho máximo */
}

/* CSS base para la tabla */
table {
    width: 100%; /* Asegura que la tabla ocupe el ancho completo */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

/* Estilos para las celdas */
th, td {
    padding: 8px; /* Espaciado interno para celdas */
    border: 1px solid #ddd; /* Bordes de las celdas */
    overflow: hidden; /* Oculta el contenido que desborda la celda */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Ancho específico para la columna Nombre */
th:nth-child(2), td:nth-child(2) {
    width: 100%; /* Cambia esto al ancho que prefieras */
    max-width: 250px; /* Establece un ancho máximo */
}

@media (max-width: 768px) {
    th:nth-child(2), td:nth-child(2) {
        width: 250px; /* Cambia esto al ancho que prefieras */
        max-width: 250px; /* Establece un ancho máximo */
    }
}



/* Estilos generales del calendario */
#calendar {
    max-width: 90%; /* Ancho máximo del calendario */
    margin: 20px auto; /* Centrar en la pantalla */
    font-family: Arial, sans-serif; /* Fuente más atractiva */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilo de las celdas del calendario */
.fc-daygrid-day {
    height: 120px; /* Altura fija para las celdas */
    width: calc(100% / 1); /* Divide el ancho disponible por el número de días de la semana */
    position: relative; /* Para posicionar bien los elementos internos */
    border: 1px solid #e0e0e0; /* Borde sutil alrededor de las celdas */
    background-color: #ffffff; /* Fondo blanco para contraste */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
    
}

/* Efecto al pasar el mouse sobre las celdas */
.fc-daygrid-day:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
    border-color: #007bff; /* Cambiar color del borde al pasar el mouse */
}

/* Estilo para los eventos del calendario */
.fc-event {
    background-color: #007bff; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 5px; /* Espaciado interno */
    font-size: 1em; /* Tamaño de fuente */
    text-align: center; /* Centrando el texto */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

/* Estilos para la barra de herramientas del calendario */
.fc-toolbar {
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Margen inferior para separación */
}


@media (max-width: 768px) {
    #calendar {
        max-width: 95%; /* Mantener el calendario en el 100% en pantallas pequeñas */
        
    }

    .fc-daygrid-day {
        height: 80px; /* Ajustar la altura de las celdas en pantallas pequeñas */
        background-color: #e0f7fa; /* Color uniforme para las celdas en modo teléfono */

    }

    .fc-daygrid-day:hover {
        background-color: #b2ebf2; /* Color de fondo al pasar el mouse en pantallas pequeñas */
    }
}

/* Mejorar la legibilidad del texto */
.fc-daygrid-day-number {
    font-weight: bold; /* Hacer los números de los días más prominentes */
    color: #333; /* Color del texto para mejor contraste */
    
}

/* Estilo adicional para el título del calendario */
.fc-toolbar-title {
    font-size: 1.5em; /* Aumentar el tamaño del título */
    color: #333; /* Color del título */
}


/* Estilos para el modal de calendario*/
#maintenanceModal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijar el modal en la pantalla */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar el desplazamiento para centrar */
    background-color: rgba(24, 24, 24, 0.227); /* Fondo blanco para el modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para el fondo oscuro detrás del modal */
#modalBackdrop {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijar el fondo oscuro */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Justo debajo del modal */
}

/* Mostrar el modal y el fondo oscuro cuando se active */
.show {
    display: block; /* Mostrar el modal */
}