body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    height: 100%
    posirio
}

header {
    background: #121212;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    margin-top: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    background-color: #293a60;
    color: rgb(242, 242, 242);
    border: none;
    padding: 0 20px;
    line-height: 50px;
    border-radius: 10px;
    -webkit-box-shadow: -2px 3px 0px #d4d4d4;
    box-shadow: -2px 3px 0px #d4d4d4;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition-property: line-height;
    -o-transition-property: line-height;
    transition-property: line-height;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    
  }


button:hover {
    background-color: #0b0f2a;
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: #fff; 
    width: auto;
    height: 81px;
    position: absolute; /* Cambiado para evitar solapamientos con el contenido */ 
    bottom: 0;
    left: 0;;
    
  
}





/* Estilos adicionales para modales */
.modal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed;
    z-index: 1; /* Se asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
/* Estilo para el header */
header {
    display: flex; /* Usar Flexbox para alinear los elementos */
    flex-direction: column; /* Organizar elementos en columnas */
    justify-content: space-between; /* Espacio entre el contenido del encabezado y la navegación */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px; /* Espaciado alrededor del header */
}

/* Estilo para el logo en el header */
#headerLogo {
    width: 100px; /* Ajustar el tamaño según sea necesario */
    height: auto; /* Mantener la proporción */
    position: absolute; /* Permitir que se mueva sin afectar otros elementos */
    left: 10px; /* Ajustar la posición horizontal del logo */
    margin-top: 0px;
    margin-right: auto;
}

/* Contenido del encabezado */
.header-content {
    text-align: center; /* Centrar el texto dentro de su contenedor */
}

/* Estilo para el título */
header h1 {
    margin: 0; /* Eliminar el margen por defecto del h1 */
}

/* Estilo para la navegación */
nav {
    margin-top: 10px; /* Espacio entre el título y la navegación */
}

nav ul {
    list-style-type: none; /* Eliminar las viñetas de la lista */
    padding: 0; /* Eliminar el padding por defecto */
    display: flex; /* Alinear los enlaces horizontalmente */
    justify-content: center; /* Centrar los enlaces en la barra de navegación */
}

nav ul li {
    margin-right: 15px; /* Espacio entre los enlaces */
}

nav ul li a {
    text-decoration: none; /* Eliminar el subrayado de los enlaces */
}


/* Estilo para el Panel de Control */
#panelControl {
    margin-top: 30px; /* Espacio superior para separar de secciones anteriores */
    padding: 15px;
    background-color: #e9ecef; /* Color de fondo claro para el panel */
    border-radius: 8px; /* Bordes redondeados para un mejor aspecto */
}

#maintenanceStats {
    margin-bottom: 20px; /* Espacio inferior para separar del botón */
}

#maintenanceStats h3 {
    margin: 0 0 10px; /* Margen inferior para separar del contenido */
}

#maintenanceStats p {
    font-size: 1.1em; /* Aumentar el tamaño de la fuente para destacar */
}

#viewHistoryBtn {
    background-color: #007bff; /* Color azul para el botón de historial */
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

#viewHistoryBtn:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

/* Responsividad */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em; /* Tamaño de fuente más pequeño para móviles */
    }

    nav ul {
        flex-direction: column; /* Navegación vertical en dispositivos móviles */
        align-items: center; /* Centrando los elementos */
    }

    nav ul li {
        margin: 5px 0; /* Espacio entre los elementos de la navegación */
    }

    table {
        font-size: 0.9em; /* Tamaño de fuente más pequeño en móviles */
    }

    button {
        width: 100%; /* Botones ocupan el ancho completo en móviles */
    }
}


/* Estilo específico para el modal de agregar equipo */
#addEquipmentModal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed;
    z-index: 1; /* Se asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
}

/* Contenido del modal de agregar equipo */
#addEquipmentModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 10% auto; /* Margen superior y centrado */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilos para los títulos dentro del modal */
#addEquipmentModal h2 {
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para las etiquetas de entrada */
#addEquipmentModal label {
    display: block; /* Mostrar cada etiqueta en una nueva línea */
    margin-bottom: 5px; /* Espacio inferior */
    font-weight: bold; /* Negrita */
}

/* Estilos para los campos de entrada */
#addEquipmentModal input[type="text"],
#addEquipmentModal input[type="number"],
#addEquipmentModal select {
    width: calc(100% - 20px); /* Ancho completo menos el padding */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Bordes suaves */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio inferior */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Estilos para el botón de agregar */
#addEquipmentModal .btn-add {
    background-color: #1f3db4; /* Color del botón */
    color: white; /* Texto en blanco */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
}

#addEquipmentModal .btn-add:hover {
    background-color: #131a45; /* Color al pasar el ratón */
}

/* Estilo para el botón de cerrar */
#addEquipmentModal .close {
    color: #aaa; /* Color del botón de cerrar */
    float: right; /* Alinear a la derecha */
    font-size: 28px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

#addEquipmentModal .close:hover,
#addEquipmentModal .close:focus {
    color: black; /* Color al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
}


/* Estilo para el modal de detalles del equipo */
#equipmentDetailsModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 10% auto; /* Margen superior y centrado */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilo para la imagen en el modal de detalles */
#equipmentDetailsModal img {
    max-width: 400%; /* Ancho máximo 100% para que no exceda el contenedor */
    height: auto; /* Mantiene la altura automática para respetar la proporción */
    border-radius: 4px; /* Bordes redondeados en la imagen */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 20px;

}

.modal-content img {
    max-width: 100%; /* Ajusta según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}


#addEquipmentModal .modal-content {
    background-color: #ffffff; /* Color de fondo blanco */
    margin: 5% auto; /* Margen superior reducido */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de elevación */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
}

/* Estilo para el login*/



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }


    

/* Modal para la imagen ampliada */
#imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    padding-top: 50px;
}

/* Imagen ampliada centrada y sin bordes */
#expandedImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    border: none;
    margin: auto; /* Centra la imagen vertical y horizontalmente */
   
}


.no-scroll {
    overflow: hidden;
}




/* Estilos para los botones de paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: -3px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambiar color de fondo al pasar el cursor */
.pagination button:hover {
    background-color: #0056b3;
}

/* Estilo para botones deshabilitados */
.pagination button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

/* Estilo para el número de página actual */
.pagination .active {
    background-color: #ff5252; /* Color diferente para la página actual */
    color: white; /* Asegúrate de que el texto sea legible */
    font-weight: bold; /* Resaltar el texto */
    border-radius: 5px; /* Bordes redondeados para el número */
   /* padding: 10px 15px;  Igualar tamaño con los botones */
}

